<div class="welcome" fxLayout="column" fxLayout.gt-md="row"  fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section class="activity">
    <h1>Activity</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam</p>
  </section>
  <section>
    <h1>Community</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam</p>
  </section>
  <section>
    <h1>Challenges</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam</p>
  </section>
</div>
